/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java

# IDE files
.idea/
*.iml

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
keybase64.txt
distribution
/app/build

# NDK build artifacts
.cxx/
**/.cxx/
